body {
  padding: 0;
  margin: 0;
  font-size: 1vw;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 285px;
  width: 80%;
  margin: 0 auto;
}


.notes-header {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 0% 26% 5% 28% 14% 4% 4% 4%;
  color: white;
  grid-template-rows: 2vw;
  margin: 2vw auto 1vw auto;
  align-items: center;
  background-color: rgb(199, 199, 199);
}

.notes-header__archive-btn {
  justify-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}

.notes-header__archive-btn i {
  font-size: 1.5vw;
}

.notes-header__delete-btn {
  justify-self: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}

.notes-header__delete-btn i {
  font-size: 1.5vw;
}

.item {
  width: 100%;
  display: grid;
  grid-template-columns: 7% 20% 15% 15% 15% 16% 4% 4% 4%;
  margin: 0 auto 1vw auto;
  align-items: center;
  background-color: rgb(238, 235, 248);
  min-height: 4vw;
  padding: 0.2vw 0;
}

.item__ico {
  padding-left: 15px;
  max-width: 1.5vw;
}

.item__created {
  color: rgb(79, 78, 78);
}

.item__category {
  color: rgb(79, 78, 78);
}

.item__content {
  color: rgb(79, 78, 78);
  word-wrap: break-word;
}

.item__content:hover {
  text-decoration: underline;
  cursor: pointer;
}

.item__dates {
  color: rgb(79, 78, 78);
}

.item__edit {
  color: rgb(79, 78, 78);
  justify-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.item__edit i {
  font-size: 1.8vw;
}

.item__edit i:hover {
  color: orange;
}

.item__active {
  color: rgb(79, 78, 78);
  justify-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.item__delete {
  color: rgb(79, 78, 78);
  justify-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.item__delete i {
  font-size: 1.8vw;
}

.item__delete:hover i {
  color: red;
}

.item__active i {
  font-size: 1.8vw;
}

.item__active i:hover {
  color: blue;
}

.create-note-btn {
  width: 7vw;
  align-self: flex-end;
  font-size: 1vw;
  align-self: flex-end
}

.categories-header {
  width: 100%;
  display: grid;
  grid-template-columns: 7% 33% 30% 30%;
  color: white;
  grid-template-rows: 2vw;
  margin: 2vw auto 1vw auto;
  align-items: center;
  background-color: rgb(199, 199, 199);
}

.item2 {
  width: 100%;
  display: grid;
  grid-template-columns: 7% 33% 30% 30%;
  grid-template-rows: 4vw;
  margin: 0 auto 1vw auto;
  align-items: center;
  background-color: rgb(238, 235, 248);
}

.item2__ico {
  justify-self: center;
  color: rgb(79, 78, 78);
}

.item2__ico i {
  font-size: 2vw;
}

.item2__active {
  color: rgb(79, 78, 78);
}

.item2__archived {
  color: rgb(79, 78, 78);
}

.emply {
  color: rgb(79, 78, 78);
  align-self: center;
}

.categories-header__active {
  cursor: pointer;
}

.categories-header__active:hover {
  text-decoration: underline;
}

.categories-header__archived {
  cursor: pointer;
}

.categories-header__archived:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

/* done*/

.form-note {
  width: 40vw;
  margin: 1vw auto;
  box-shadow: 0.2vw 0.2vw 0.5vw #aaa;
  padding: 10px;
  display: grid;
  font-size: 17px;
  background-color: rgb(238, 235, 248);
}

.form-note__title {
  text-align: center;
  font-size: 27px;
}

.form-note__label1 {
  min-width: 30%;
  margin-bottom: 10px;
}

.form-note__name {
  width: 65%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: rgb(238, 235, 248);
}

.form-note__name:focus {
  outline: none !important;
}

.form-note__label2 {
  min-width: 30%;
  margin-bottom: 10px;
}

.form-note__select {
  width: 66%;
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

.form-note__label3 {
  margin-bottom: 5px;
}

.form-note__content {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 5px;
  resize: none;
}

.form-note__checkboxdiv {
  margin: 7px 0 15px;
}

.form-note__checkbox {
  display: inline-block;
}

.form-note__label4 {
  display: inline-block;
}

.form-note__button1 {
  float: left;
  width: 100px;
  height: 40px;
}

.form-note__button2 {
  float: right;
  width: 100px;
  height: 40px;
}

.active-tab {
  text-decoration: underline;
  cursor: pointer;
}